################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TrabalhoFinalED_WindowsForms/.vs/TrabalhoFinalED_WindowsForms/FileContentIndex
