################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TrabalhoFinalED_WindowsForms/.vs/TrabalhoFinalED_WindowsForms/FileContentIndex
/TrabalhoFinalED_WindowsForms/.vs/TrabalhoFinalED_WindowsForms/v17
/TrabalhoFinalED_WindowsForms/TrabalhoFinalED_WindowsForms/bin/Debug/TrabalhoFinalED_WindowsForms.exe.WebView2/EBWebView
/TrabalhoFinalED_WindowsForms/TrabalhoFinalED_WindowsForms/bin/Debug
/TrabalhoFinalED_WindowsForms/TrabalhoFinalED_WindowsForms/obj
